<nav
  class="flex items-center justify-between flex-wrap bg-white drop-shadow-md px-6"
>
  <div class="book-header py-2">
    <mat-form-field appearance="outline" class="w-[100%]">
      <mat-label>Search</mat-label>
      <input matInput formControlName="email" class="" />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>
  <div class="block">
    <button mat-button [matMenuTriggerFor]="menu">
      <div class="">
        <img
          src="https://placebear.com/640/360"
          class="w-10 h-10 rounded-full"
        />
      </div>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
  </div>
</nav>
