<app-header></app-header>

<section class="bg-gray-200 h-screen">
  <div class="container mx-auto py-5">
    <div class="flex justify-between items-center px-2 md:px-0">
      <div class=""><h1 class="text-2xl">My books</h1></div>

      <div class="">
        <button
          mat-flat-button
          (click)="openDialog()"
          class="w-[100%] rounded-sm"
          color="primary"
        >
          Add a new Book
        </button>
      </div>
    </div>
    <br />

    <mat-divider class="mt-10"></mat-divider>
    <div class="my-10">
      <div class="flex justify-center items-center">
        <!-- Ensure the grid is centered -->
        <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
          <div class="flex flex-col items-center">
            <!-- Center content of each grid item -->
            <div class="max-w-[20rem] rounded overflow-hidden">
              <img
                class="w-1/2 rounded-md mx-auto"
                src="/assets/images/Livro3.png"
                alt="Sunset in the mountains"
              />
              <div class="px-6 py-4 pb-2 text-center">
                <!-- Center text -->
                <div class="font-bold text-xl mb-2">The Coldest Sunset</div>
                <p class="text-gray-700 text-base">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </p>
              </div>

              <div class="px-6 pt-1 pb-2 text-center">
                <!-- Center tags -->
                <span
                  class="inline-block bg-gray-200 rounded-full px-3 py-1 text-gray-700 mr-2 mb-2 text-sm"
                  >#photography</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
